ul {

    list-style-type: none;
    background-color: black;
    width: 150px;
    padding: 0px;
}
li a{
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
li a:hover{
    background-color: orange;
    color: white;
}
